h2 {
    color: #4d4d52;
    font-family: 'Rubik';
    text-decoration: none;
}

h3 {
    color: #4d4d52;
    font-family: 'Rubik';
    text-decoration: none;
}

a {
    font-family: 'Rubik'
    color: #4f097f;
    text-decoration: none;

}

a:visited {
    color: #e25822;


}


p {
    font-family: 'Rubik';
    color: #4d4d52

}

.django-button {
    align: bottom;

}

button {
    cursor:pointer;
    background-color: #E1E6F0;
    border: none;
    border-radius: 4px;
    color: #6738B8;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rubik';
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.menu-header {
    background-color: #E1E6F0;
    margin-top: 30;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

body {
    margin: auto;
    margin-top:30;
    margin-bottom:30;
    width: 40%;
    padding: 10px;
    background-color: #fafafa;
}

#section-box {
  border: 1px solid;
  padding: 10px;
  margin-right: 50;
  box-shadow: 5px 10px #778899;
  background-color: #ffffff;
}



.home-button {
  margin-top:30;
  margin-bottom:30;
}
